@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Source+Code+Pro:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
}
.sidebar {
  background-color: rgb(199, 194, 194);
  transition: transform 0.3s ease-in;
  height: 100vw;
  position: absolute;
}
.sidebar nav {
  padding: 26px 58px;
  text-decoration: none;
  color: black;
}
.sidebar nav li {
  list-style: none;
  font-size: 17px;
  padding: 21px 6px;
 
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main {
  /* background-color: yellow;*/
  width: 125vw;
}
.container {
  display: flex;
  list-style: none;
}
.infocontainer {
  /*  background-color: yellowgreen;*/
  height: 30vh;
  width: 100vh;

  margin-top: 100px;
  margin-left: 180px;
}
.devinfo {
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
  margin-left: 90px;
}
.hello {
  font-size: 65px;
}

.name {
  font-size: 50px;
  font-weight: bold;
}

.about {
  font-size: 35px;
}
button{
    border: 1px solid black;
    border-radius:19px;
    padding: 10px ;
    margin: 20px auto;
    background-color: rgb(193, 193, 202);
    cursor: pointer;
    
}
button:hover{
    background-color: white;
}
.contactform{
   font-family: cursive;
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 12px;
    margin-left: 0px;
    margin-top: -45px;
} 

.contactform form div{
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 5px;
}

.blogitem{
    margin: 23px;
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    
}

.blogcontainer h1{
    margin: 25px;
    font-family: 'Source Code Pro', monospace;

}
.intro p{
    font-family: 'Dongle', sans-serif;
    margin: 12px;
}
.intro h2{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}

.skillcontainer{
    padding: 12px;
    margin: 5px;
   
   
}

.skill{
    width: 255px;
    height: 5px;
    background-color: rgb(193, 193, 202);
    
 
}

.skillitem{
    align-items: center;
    
}

.skill3{
    width: 155px;
    height: 5px;
    background-color: rgb(193, 193, 202);
    border: 1px solid black;
}
.skill2{
    width: 100px;
    height: 5px;
    background-color: rgb(193, 193, 202);
    border: 1px solid black;
}
.skill{
    width: 200px;
    height: 5px;
    background-color: rgb(193, 193, 202);
    border: 1px solid black;
}
.skill4{
    width: 80px;
    height: 5px;
    background-color: rgb(193, 193, 202);
    border: 1px solid black;
}
.skill5{
    width: 120px;
    height: 5px;
    background-color: rgb(193, 193, 202);
    border: 1px solid black;
}

.sidebarGo{ 
  transform: translate(-443px, 0px);
  position: absolute;
}

 @media (max-width: 880px) {
 
 /* .sidebar{ 
   transform: translate(-443px, 0px);
   position: absolute;
 }*/
 }
  
 .hamburger{
   position: absolute;
   cursor: pointer;
   top: 10px;
   left: 10px;
 }

 .cross{
  margin-left: 150px;
  margin-top: 8px;
 }

 .ham{
   margin-top: 8px;
 }

 .intro{
   margin-left: 230px;
   margin-top: 40px;
 }

 .blogcontainer{
   margin-top: 40px;
   margin-left: 230px;
 }

 .contactform{
  margin-top: 40px;
  margin-left: 150px;
 }

 .hello{
   transition: ease-in;
   transition-duration: 1s;
   
 }
 

